@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.responsive{
  display: none;
}

.container {
  width: 100%;
  min-height: 650px;
  height: auto;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* ----------------------------------------------------Section-1------------------------------------------------- */
.section1 {
  background-image: linear-gradient(rgba(245, 43, 22, 0.85),
      rgba(245, 43, 22, 0.85)),
    url(../public/bg1.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: baseline;
}

.header-comp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: rgba(245, 43, 22);
  align-items: baseline;
}

.logo {
  padding-left: 3%;
  display: flex;
  font-size: 23px;
  font-weight: 600;
}

.first {
  color: white;
}

.second {
  color: black;
}
.nav_link {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: baseline;
}

li {
  list-style: none;
}

nav ul li a {
  padding: 0px 17px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

nav ul li a::before {
  content: "•";
  font-size: 20px;
}

.linker{
  text-decoration: none;
  color:black;
}

#btn1 {
  border-radius: 20px;
  background-color: rgba(245, 43, 22, 0.859);
  color: white;
  font-size: 11px;
  border: 3px solid white;
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
  padding: 8px 9px;

}


#btn1:hover {
  background-color: white;
  color: rgba(245, 43, 22, 0.859);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
}

.icon {
  display: flex;
  padding-top: 33px;
  color: white;
  padding-right: 60px;
  justify-content: flex-end;
  cursor: pointer;
}

.icon i {
  margin-left: 15px;
}

.row2 {
  height: 57%;
  display: flex;
}

.col1 {
  display: flex;
  padding-left: 3%;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 13%;
}

.col1 i {
  font-size: 45px;
  font-weight: lighter;
  cursor: pointer;
}

.fa-arrow-circle-o-left {
  color: black;
}

.col2 {
  text-align: justify;
  padding-left: 12%;
  padding-top: 4%;
  flex-direction: column;
  margin-right: -16%;
}

.head1 {
  font-weight: 900;
  font-size: 45px;
  color: #ffffff;
}

.head2 {
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-top: -3%;
}

.col2 p {
  padding-top: 1%;
  font-size: 12px;
  color: #ffffff;
  margin-right: 34%;
}

.col3 {
  position: relative;
  margin-top: 4%;
}

.col3 h2 {
  top: 26%;
  left: 45%;
  color: white;
  position: absolute;
}

.col3 img {
  height: 80%;
  padding: 20px 12px;
  margin-left: 10%;
}

.btn2 {
  padding-top: 9%;
}

#btn2-1 {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  padding: 12px 35px;
  font-weight: 500;
  cursor: pointer;
}

#btn2-1:hover {
  background-color: white;
  color: black;
}

#btn2-2 {
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: white;
  margin-left: 3%;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 35px;
  cursor: pointer;
}

#btn2-2:hover {
  background-color: black;
  color: white;
}

.box {
  display: flex;
  height: 29%;
  margin-top: 39px;
  justify-content: center;
}

.box p {
  font-size: 11px;
  line-height: 17px;
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 500;
}

.box h3 {
  padding: 3px 0px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.box img {
  padding-top: 8%;
  width: 9%;
  height: 33%;
  margin-left: 42%;
}

.box1 {
  background-color: black;
  height: 100%;
  width: 22%;
  color: white;
  text-align: justify;
  padding: 0% 1%;
}

.box1 img {
  margin-left: 47%;
}

.box2 {
  background-color: white;
  height: 100%;
  width: 22%;
  color: black;
  text-align: justify;
  padding: 0% 1%;
}

.box2 img {
  height: 34%;
  width: 16%;
}

.box3 {
  background-color: black;
  height: 100%;
  width: 22%;
  color: white;
  text-align: justify;
  padding: 0% 1%;
}

.box3 img {
  width: 14%;
  height: 33%;
}

/* ------------------------------------------------------------------Section 2 ----------------------------------------------------------------*/
.section2 {
  height: 540px;
  background-color: white;
  display: flex;
}

.section2 .sec2-col1 {
  background-image: url(../public/section2-bg1.png);
  height: 100%;
  width: 45%;
  background-repeat: no-repeat;
}

.sec2-col1 img {
  width: 73%;
  height: 60%;
  margin-top: 12%;
  margin-left: 32%;
}

.section2 .sec2-col2 {
  background-image: url(../public/section2-bg2.png);
  height: 100%;
  width: 55%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.sec2-content {
  margin-top: 130px;
  margin-right: 120px;
  margin-left: 45px;
}

.sec2-content .head3 {
  font-weight: bolder;
  font-size: 27px;
}

.sec2-content p {
  padding-top: 24px;
  text-align: justify;
  margin-right: 21%;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}

.sec2-box {
  display: flex;
  padding-top: 7%;
}

.sec2-box .secbox1 {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 14px 27px;
}

.sec2-box .secbox2 {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 14px 27px;
}

#btn4 {
  color: white;
  background-color: black;
  border-radius: 25px;
  border: none;
  font-size: 12px;
  padding: 12px 37px;
  font-weight: 500;
  text-transform: uppercase;
  width: 143px;
  margin-top: 8%;
  cursor: pointer;
}

#btn4:hover {
  color: white;
  background-color: red;
}

/* -------------------------------------------------------------Section 3------------------------------------------------------------ */
.section3 {
  background-image: url(../public/section3-bg1.png);
  height: 716px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.sec3-box {
  display: flex;
  height: 58%;
  width: 100%;
  gap: 90px;
  justify-content: center;
}

.sec3-content {
  display: flex;
  width: 73%;
  flex-direction: column;
  color: white;
  padding-left: 4%;
  padding-top: 2%;
  gap: 4px;
}

.sec3-content h4 {
  font-size: 17px;
  color: red;
  font-weight: 600;
}

.sec3-content h1 {
  font-size: 27px;
  margin-top: -7px;
}

.sec3-content p {
  margin-top: 1%;
  font-size: 11px;
  line-height: 21px;
  margin-right: 7%;
}

.sec3-boxes {
  height: 100%;
  width: 260px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-box-content {
  width: 100%;
  height: 80%;
  padding-bottom: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3-one {
  width: 100%;
  height: 16%;
  background-color: #dad8d7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  
}

.sec3-two {
  width: 100%;
  height: 5%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 1px;
  font-size: 11px;
  text-transform: uppercase;
}

.sec3-three {
  width: 100%;
  height: 56%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec3-three h2 {
  color: red;
  font-size: 27px;
  margin-top: 5%;
  font-weight: 600;
}

.sec3-three h5 {
  font-size: 17px;
  margin-top: -5px;
  font-weight: 500;
}

.sec3-three p {
  font-size: 11px;
  padding: 0px 68px;
  text-align: center;
  padding-top: 2px;
}

#btn5 {
  color: black;
  background-color: white;
  border-radius: 25px;
  border: none;
  font-size: 10px;
  padding: 9px 0;
  text-transform: uppercase;
  width: 95px;
  margin-top: 14%;
  font-weight: bolder;
  cursor: pointer;
}

#btn5:hover {
  color: white;
  background-color: grey;
}


/*----------------------------------------------------------- Section 4---------------------------------------------------------------- */
.section4 {
  background-color: white;
  height: 530px;
  position: relative;
}

.section4 img {
  padding-top: 1%;
  display: block;
  width: 69%;
  margin: 0 auto;
  height: 96%;
}

.head5 {
  color: #050400;
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
  padding-top: 4%;
}

.section4-1 {
  position: absolute;
  top: 0;
}

.section4-1 img {
  width: 76%;
  height: 33%;
  padding-top: 12%;
  padding-left: 8%;
  margin-left: 22%;
}

.section4-2 {
  display: flex;
  flex-direction: column;
  left: 43%;
  top: 8%;
  position: absolute;
  gap: 20px;
  align-items: center;
}

.section4-2 p {
  padding-top: 37%;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.inp-btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  position: relative;
  border: none;
}

.inp-btn input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 25px;
  padding-left: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 500;
}

.inp-btn button {
  position: absolute;
  width: 34%;
  right: 1%;
  top: 7%;
  bottom: 7%;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  border: none;
}

.inp-btn button:hover {
  background-color: #da3b2a;
  color: white;
  border: none;
}

/* ---------------- --------------------------section 5------------------------------------------------------------- */
.miller {
  display: none;
}

.section5 {
  height: 500px;
  display: flex;
  padding: 7% 10%;
  font-weight: bold;
  margin-top: 5%;
  justify-content: center;
  margin-left: -3%;
  margin-right: 14%;
}

.sec5-col1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding-left: 29%;
}

.sec5-col1 img {
  height: 45%;
  border-radius: 50%;
  margin-right: 50%;
}

.sec5-col2 {
  height: 100%;
}

.sec5-col2 p {
  padding-right: 6%;
  text-align: justify;
  padding-top: 1%;
  font-size: 11px;
  line-height: 19px;
  font-weight: 500;
}

.head6 {
  font-size: 28px;
  padding-left: 6%;
  font-family: "Poppins", sans-serif;
  padding-bottom: 14%;
}

.sec5-col2 .sec5-row2 {
  display: flex;
  padding-top: 1%;
  font-size: 20px;
}

.sec5-row2 img {
  height: 1%;
  width: 5%;
  margin-left: 80%;
  margin-top: 1%;
}

/* -----------------------------------------------------Section-6---------------------------------------------------------- */
.section6 {
  height: 80px;
  display: flex;
  padding: 26px 0px;
  background-color: #d72a18;
}

.sec6-col1 {
  height: 100%;
  padding-left: 21%;
  font-weight: 600;
  color: white;
  font-size: 21px;
}

.sec6-col2 {
  padding-left: 4%;
}

.sec6-col2 input {
  font-family: "Poppins", sans-serif;
  padding-left: 10px;
  border-radius: 25px;
  width: 370px;
  height: 34px;
  text-decoration: none;
  border: none;
  font-size: 12px;
  font-weight: 500;
}

.sec6-col2 ::placeholder {
  padding-left: 15px;
}

.sec6-col2 button {
  border-radius: 25px;
  width: 200px;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 10px;
  border: none;
  cursor: pointer;
  margin-left: 7px;
}

.sec6-col2 button:hover {
  background-color: #d72a18;
  color: white;
  border: 2px solid white;
}

/* -----------------------------------------------------footer------------------------------------------------------------ */
footer {
  display: flex;
  background-color: rgb(51, 50, 50);
  height: 480px;
  padding-top: 6%;
  color: white;
  flex-direction: column;
}

.foot-row1 {
  display: flex;
  height: 80%;
}

.foot-row1 h4 {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.fcolumn1 {
  width: 30%;
  margin-left: 17%;
}

.fcolumn1 h2 {
  font-size: 35px;
  padding-bottom: 6%;
  margin-top: -7%;
}

.fcolumn1 p {
  padding-right: 40%;
  text-align: justify;
  font-size: 13px;
  line-height: 20px;
}

.fcolumn2,
.fcolumn3,
.fcolumn4 {
  margin-top: -1%;
}

.fcolumn2 {
  width: 25%;
  margin-left: 5%;
}

.fcolumn2 p {
  padding-right: 35%;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
}

.fcolumn3 {
  width: 23%;
  padding-left: 5%;
}

.fcolumn3 ul {
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}

.fcolumn4 {
  width: 63%;
  margin-left: 6%;
}

.fcolumn4 p {
  font-size: 13px;
  padding-right: 75%;
  text-align: justify;
  line-height: 20px;
}

.social-logo {
  display: flex;
  flex-direction: row;
  width: 83%;
  gap: 15px;
  margin-top: 5%;
  cursor: pointer;
}

.social-logo i {
  padding: 2%;
  font-size: 20px;
  border-radius: 50%;
  background-color: white;
  color: rgb(51, 50, 50);
}

.foot-row2 {
  display: flex;
  background-color: white;
  height: 20%;
  width: 100%;
  font-size: 17px;
  color: black;
  align-items: center;
  justify-content: center;
}





@media screen and (max-width: 700px) {
  .section1 {
    background-image: linear-gradient(rgba(245, 43, 22, 0.85),
        rgba(245, 43, 22, 0.85)),
      url(../public/bg1.jpg);
    width: 100%;
    height: max-content;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }

  .logo {
    padding-left: 3%;
    display: flex;
    font-size: 23px;
    font-weight: 600;
  }

  .first {
    color: white;
  }

  .second {
    color: black;
  }
  .responsive{
    display: flex;
  }
  .nav_link {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
  }

  li {
    list-style: none;
  }

  nav ul li a {
    padding: 0px 17px;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  nav ul li a::before {
    content: "";
    font-size: 20px;
  }

  #btn1 {
    border-radius: 20px;
    background-color: rgba(245, 43, 22, 0.859);
    color: white;
    font-size: 11px;
    border: 3px solid white;
    text-transform: uppercase;
    margin-left: 0px;
    cursor: pointer;
    padding: 8px 9px;
  }

  /* #btn1:hover {
    background-color: white;
    color: red;
  } */

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
  }

  .icon {
    display: flex;
    padding-top: 33px;
    color: white;
    padding-right: 60px;
    justify-content: flex-end;
    cursor: pointer;
  }

  .icon i {
    margin-left: 15px;
  }

  .row2 {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col1 {
    display: none;
    padding-left: 3%;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 13%;
  }

  .col1 i {
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
  }

  .fa-arrow-circle-o-left {
    color: black;
  }

  .col2 {
    text-align: justify;
    padding-left: 0;
    width: 100%;
    padding-top: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .head1 {
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
  }

  .head2 {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: -3%;
  }

  .col2 p {
    padding-top: 1%;
    font-size: 12px;
    color: #ffffff;
    margin-right: 0;
  }

  .col3 {
    position: relative;
    margin-top: 4%;
  }

  .col3 h2 {
    top: 26%;
    left: 38%;
    color: white;
    position: absolute;
  }

  .col3 img {
    height: 80%;
    width: 75%;
    padding: 20px 12px;
    margin-left: 10%;
  }

  .btn2 {
    padding-top: 9%;
    display: flex;
  }

  #btn2-1 {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: black;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    width: 150px;
    font-weight: 500;
    cursor: pointer;
  }

  #btn2-1:hover {
    background-color: white;
    color: black;
  }

  #btn2-2 {
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: white;
    margin-left: 3%;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 150px;
    cursor: pointer;
  }

  #btn2-2:hover {
    background-color: black;
    color: white;
  }

  .box {
    display: flex;
    height: max-content;
    margin-top: 4%;
    width: 100%;

    justify-content: space-around;
  }

  .box p {
    font-size: 11px;
    line-height: 17px;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 500;
  }

  .box h3 {
    padding: 3px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }

  .box img {
    padding-top: 8%;
    width: 11%;
    height: 33%;
    margin-left: 42%;
  }

  .box1 {
    background-color: black;
    height: 100%;
    width: 33%;
    color: white;
    text-align: justify;
    min-height: 318px;

    padding: 20px;
  }

  .box1 img {
    margin-left: 47%;
  }

  .box2 {
    background-color: white;
    height: 100%;
    min-height: 318px;
    width: 33%;
    color: black;
    text-align: justify;
    padding: 20px;
  }

  .box2 img {
    height: 34%;
    width: 16%;
  }

  .box3 {
    background-color: black;
    height: 100%;
    min-height: 318px;

    width: 33%;
    color: white;
    text-align: justify;
    padding: 20px;
  }

  .box3 img {
    width: 14%;
    height: 33%;
  }

  /* section2 */

  .section2 {
    height: max-content;
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .section2 .sec2-col1 {
    background-image: none;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec2-col1 img {
    width: 73%;
    height: 60%;
    margin-top: 30px;
    margin-left: 0;
  }

  .section2 .sec2-col2 {
    background-image: none;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    display: flex;
    align-items: center;
  }

  .sec2-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .sec2-content .head3 {
    font-weight: bolder;
    font-size: 27px;
  }

  .sec2-content p {
    padding-top: 24px;
    text-align: justify;
    text-align: center;
    margin-right: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
  }

  .sec2-box {
    display: flex;
    padding-top: 7%;
  }

  .sec2-box .secbox1 {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 14px 27px;
  }

  .sec2-box .secbox2 {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 14px 27px;
  }

  #btn4 {
    color: white;
    background-color: black;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    padding: 12px 37px;
    font-weight: 500;
    text-transform: uppercase;
    width: 143px;
    margin-top: 8%;
    cursor: pointer;
  }

  #btn4:hover {
    color: white;
    background-color: red;
  }

  /* -------------------------------------------------------------Section 3------------------------------------------------------------ */
  .section3 {
    background-image: none;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
  }

  .sec3-box {
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
  }

  .sec3-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-top: 2%;
    gap: 4px;
  }

  .sec3-content h4 {
    font-size: 25px;
    color: red;
    font-weight: 600;
  }

  .sec3-content h1 {
    font-size: 27px;
    margin-top: -1%;
  }

  .sec3-content p {
    margin-top: 1%;
    text-align: center;
    padding: 20px;
    font-size: 11px;
    display: block;

    line-height: 21px;
    margin-right: 0;
  }

  .sec3-boxes {
    height: 100%;
    margin-bottom: 40px;
    width: 260px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec3-box-content {
    width: 100%;
    height: 80%;
    padding-bottom: 11%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
  }

  .sec3-one {
    width: 100%;
    height: 16%;
    background-color: #dad8d7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 15px;
    font-size: 14px;
  }

  .sec3-two {
    width: 100%;
    height: 5%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 11px;
    text-transform: uppercase;
  }

  .sec3-three {
    width: 100%;
    height: 56%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sec3-three h2 {
    color: red;
    font-size: 27px;
    margin-top: 5%;
    font-weight: 600;
  }

  .sec3-three h5 {
    font-size: 17px;
    margin-top: -5px;
    font-weight: 500;
  }

  .sec3-three p {
    font-size: 11px;
    padding: 0% 22%;
    text-align: center;
    padding-top: 1%;
  }

  #btn5 {
    color: white;
    background-color: black;
    border-radius: 25px;
    border: none;
    font-size: 10px;
    padding: 3% 0;
    text-transform: uppercase;
    width: 38%;
    margin-top: 12%;
    font-weight: bolder;
    cursor: pointer;
  }

  #btn5:hover {
    color: white;
    background-color: grey;
  }

  /*----------------------------------------------------------- Section 4---------------------------------------------------------------- */
  .section4 {
    background-color: white;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section4 img {
    padding-top: 1%;
    display: block;
    display: none;
    width: 69%;
    margin: 0 auto;
    height: 96%;
  }

  .head5 {
    color: #050400;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    padding-top: 4%;
  }

  .section4-1 {
    display: flex;
    flex-direction: column;
    position: static;
    top: 0;
  }

  .section4-1 img {
    width: 76%;
    display: none;
    height: 33%;
    padding-top: 12%;
    padding-left: 8%;
    margin-left: 22%;
  }

  .section4-2 {
    display: flex;
    flex-direction: column;
    left: 0;
    padding-top: 30px;
    padding-bottom: 80px;
    top: 8%;
    position: static;
    gap: 20px;
    align-items: center;
    background-image: url(../public/section4-bg.jpg);
    background-size: cover;
  }

  .section4-2 p {
    padding-top: 0;
    margin-top: 60px;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
  }

  .inp-btn {
    width: 70%;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    position: relative;
    border: none;
  }

  .inp-btn input {
    width: 101%;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;

    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 500;
  }

  .inp-btn button {
    position: absolute;
    width: 34%;
    right: 0;
    top: 7%;
    bottom: 7%;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    border: none;
  }

  .inp-btn button:hover {
    background-color: #da3b2a;
    color: white;
    border: none;
  }

  /* /---------------------------------------------------- Section-5 ------------------------------------------------------------/ */
  .section5 {
    height: max-content;
    display: flex;
    padding: 7% 10%;
    font-weight: bold;
    margin-top: 5%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .sec5-col1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: none;
    align-items: center;
    margin-top: 3%;
    padding-left: 29%;
  }

  .miller-group img {
    display: block;
    width: 50px;
    height: 50px;
  }

  .sec5-row2 .miller-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: baseline;
    margin-left: 0;
  }

  .sec5-col1 img {
    height: 45%;
    border-radius: 50%;
    margin-right: 50%;
  }

  .sec5-col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .sec5-col2 p {
    padding-right: 7%;
    text-align: justify;
    padding-top: 1%;
    font-size: 11px;
    line-height: 19px;
    font-weight: 500;
  }

  .head6 {
    font-size: 28px;
    padding-left: 6%;
    font-family: "Poppins", sans-serif;
  }

  .sec5-col2 .sec5-row2 {
    display: flex;
    padding-top: 9%;
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
    font-size: 20px;
  }

  .sec5-row2 img {
    margin-left: 0;
  }

  .sec5-row2 .quote {
    height: 1%;
    width: 5%;
    margin-left: 0px;
    margin-top: 1%;
  }

  /* -----------------------------------------------------Section-6---------------------------------------------------------- */
  .section6 {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    padding-top: 30px;
    gap: 10px;
    padding-bottom: 30px;
    background-color: #d72a18;
  }

  .sec6-col1 {
    height: 100%;
    padding-left: 0;
    font-weight: 600;
    color: white;
    font-size: 21px;
  }

  .sec6-col2 {
    padding-left: 0%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .sec6-col2 input {
    font-family: "Poppins", sans-serif;
    padding-left: 0;
    border-radius: 25px;
    width: 80%;
    height: 34px;
    text-decoration: none;
    border: none;
    font-size: 12px;
    font-weight: 500;
  }

  .sec6-col2 ::placeholder {
    padding-left: 15px;
  }

  .sec6-col2 button {
    border-radius: 25px;
    width: 150px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }

  .sec6-col2 button:hover {
    background-color: #d72a18;
    color: white;
    border: 2px solid white;
  }

  /* -----------------------------------------------------footer------------------------------------------------------------ */
  footer {
    display: flex;
    background-color: rgb(51, 50, 50);
    height: max-content;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 7%;
    color: white;
    flex-direction: column;
  }

  .foot-row1 {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foot-row1 h4 {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 5px;
  }

  .fcolumn1 {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fcolumn1 h2 {
    font-size: 45px;
    padding-bottom: 6%;
    margin-top: 0;
  }

  .fcolumn1 p {
    padding-right: 0;
    text-align: center;
    width: 80%;

    font-size: 13px;
    line-height: 20px;
  }

  .fcolumn2,
  .fcolumn3,
  .fcolumn4 {
    margin-top: -1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .fcolumn2 {
    margin-top: 30px;

    width: 100%;
    margin-left: 0;
  }

  .fcolumn2 p {
    padding-right: 0;
    font-size: 13px;
    line-height: 20px;

    text-align: center;
    width: 80%;
  }

  .fcolumn3 {
    width: 100%;
  }

  .fcolumn3 ul {
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
  }

  .fcolumn4 {
    margin-top: 30px;
    width: 100%;
  }

  .fcolumn4 p {
    font-size: 13px;
    padding-right: 0;
    text-align: justify;
    line-height: 20px;
    text-align: center;
    width: 80%;
  }

  .social-logo {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-top: 10%;
    cursor: pointer;
  }

  .social-logo i {
    padding: 4%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    border-radius: 50%;
    background-color: white;
    color: rgb(51, 50, 50);
  }

  .foot-row2 {
    display: flex;
    background-color: white;
    height: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 13px;
    color: black;
    align-items: center;
    justify-content: center;
  }
}

/* ---------------------------about------------------------------------------------------ */

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

/* article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
} */

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* product */

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

/* .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
} */

/* .product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
} */

/* blog */
@keyframes down-btn {
  0% {
    bottom: 20px;
  }

  100% {
    bottom: 0px;
  }

  0% {
    opacity: 0;
  }

  100% {
    opaicty: 1;
  }
}

@-webkit-keyframes down-btn {
  0% {
    bottom: 20px;
  }

  100% {
    bottom: 0px;
  }

  0% {
    opacity: 0;
  }

  100% {
    opaicty: 1;
  }
}

@-moz-keyframes down-btn {
  0% {
    bottom: 20px;
  }

  100% {
    bottom: 0px;
  }

  0% {
    opacity: 0;
  }

  100% {
    opaicty: 1;
  }
}

@-o-keyframes down-btn {
  0% {
    bottom: 20px;
  }

  100% {
    bottom: 0px;
  }

  0% {
    opacity: 0;
  }

  100% {
    opaicty: 1;
  }
}

body {
  margin: 0;
}

.category-name {
  font-family: cursive;
  width: -webkit-fill-available;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}

.card-category-2 ul,
.card-category-3 ul,
.card-category-4 ul,
.card-category-5 ul .card-category-6 ul {
  padding: 0;
}

.card-category-2 ul li,
.card-category-3 ul li,
.card-category-4 ul li,
.card-category-5 ul li,
.card-category-6 ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.card-category-2 ul li,
.card-category-3 ul li {
  margin: 10px 5px;
}

.card-category-1,
.card-category-2,
.card-category-3,
.card-category-4,
.card-category-5,
.card-category-6 {
  font-family: sans-serif;
  margin-bottom: 45px;
  text-align: center;
}

.card-category-1 div,
.card-category-2 div {
  display: inline-block;
}

.card-category-1>div,
.card-category-2>div:not(:last-child) {
  margin: 10px 5px;
  text-align: left;
}

/* Basic Card */
.basic-card {
  width: 300px;
  position: relative;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
  padding: 30px;
}

.basic-card .card-title {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.basic-card .card-text {
  line-height: 1.6;
}

/* .basic-card .card-link {
  padding: 25px;
  width: -webkit-fill-available;
}

.basic-card .card-link a {
  text-decoration: none;
  position: relative;
  padding: 10px 0px;
}

.basic-card .card-link a:after {
  top: 30px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;

  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
  width: 100%;
  left: 0;
} */

.basic-card-aqua {
  /* background-image: url(https://image.tmdb.org/t/p/original/fpnYHf88r0lzsRtsGAP1PkmvDFy.jpg); */
  background-position: center;
  background-size: cover;
  opacity: 0.7;;
  background-color: grey;

}

.basic-card-lips{
  background-position: center;
  background-size: cover;
  opacity: 0.7;;
  background-color: rgb(235, 136, 136);

}

.basic-card-aqua .card-content,
.basic-card .card-link a {
  color: #fff;
}

/* .basic-card-aqua .card-link {
  border-top: 1px solid #82c1bb;
}

.basic-card-aqua .card-link a:after {
  background: #fff;
} */



/* Overlay Image Card */

/* .ioverlay-card {
  position: relative;
  text-align: left;
}

.ioverlay-card img {
  height: auto;
  width: 100%;
  border-radius: 4px;
}

.ioverlay-card .card-content {
  position: absolute;
  top: 25px;
  left: 20px;
}

.ioverlay-card .card-content .card-title {
  font-size: 25px;
}

.io-card-1 {
  color: #fff;
}

.io-card-1 .card-content .card-text {
  width: 95%;
  line-height: 1.5;
  padding-bottom: 10px;
}

.io-card-1 .card-link {
  position: absolute;
  top: 140px;
  left: 20px;
}

.io-card-1 .card-link a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  background: #3f51b5;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.io-card-1 .card-link a:hover {
  color: #3f51b5;
  background: #fff;
  border-color: #fff;
}

.io-card-2 .card-content {
  color: #fff;
}

.io-card-2 .card-link {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.io-card-2 .card-link a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.io-card-2 .card-link a:hover {
  color: black;
  background-color: #fff;
}

.io-card-2 .card-content .card-text {
  line-height: 1.5;
  padding-bottom: 10px;
}

/*----------------------- Product & Shop Cards------------------------------------ */




/* --------login ----------------------------------------------------------------*/

.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 500px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="text"]:hover {
  border-color: #f44336;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login input[type="submit"] {
  border: none;
  background: #ef5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type="submit"]:hover {
  background: #f44336;
}

.login h2 {
  margin: 20px 0 0;
  color: #ef5350;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

/* ---------------------contact------------------------------------------------------- */

section.contact-us #contact {
  position: relative;
  display: block;
  width: 400px;
  height: auto;
  min-width: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color:aliceblue;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

section.contact-us .section-heading {
  position: relative;
  display: block;
  margin: auto;
}

.section-heading h4 {
  line-height: 40px;
  font-size: 28px;
  font-weight: 900;
  color: red;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact-us input,
textarea {
  width: 350px;
  position: relative;
  display: block;
  background-color: #f4f7fb;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #9e9e9e;
}

.contact-us input {
  height: 40px;
  padding: 0px 15px;
}

.contact-us textarea {
  min-height: 140px;
  max-height: 180px;
  padding: 15px;
  resize: none;
}

.contact-us span {
  height: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.valid_info_name,
.valid_info_email,
.valid_info_message {
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
}

.valid {
  border: 2px solid green;
  outline-color: green;
}

.invalid {
  border: 2px solid red;
  outline-color: red;
}

.btn {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

#form-submit {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: rgb(219, 138, 222);
  background: linear-gradient(-145deg,
      rgba(219, 138, 222, 1) 0%,
      rgba(246, 191, 159, 1) 100%);
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  transition: all 0.3s;
}

#form-submit:disabled {
  border: 1px solid #9e9e9e;
  background: transparent;
  color: #9e9e9e;
  transition: none;
  transform: none;
  cursor: default;
}

#form-submit:hover:disabled {
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  background: transparent;
  transition: none;
  transform: none;
  cursor: default;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}


.active{
  display: flex;
}

a{
  all:unset;
}

li{
  cursor: pointer;
}


